.dashboard {
    display: flex;
    justify-content: center;
    margin: 1rem;
    border-radius: 10px;
    background-color: #e9e9e9;
} 

.dashboardContent {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.chartWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statusCardsWrapper {
    margin-top: 2rem;
}

.tableWrapper {
    width: 100%;
}